/* *{box-sizing: border-box;} */


body{
  font-family: 'Lobster', cursive;
margin: 0;
padding: 0;
}

.head{
  background-color: #eeeeee;
  text-align: center;
  padding: 5px 15px;
  font-family: 'Lobster', cursive;
  font-size: 150%;
}

.nav{
  background-color: #cbaf87;
  text-align: right;
  padding: 5px;

}
.add{
  background-color: #cbaf87;
  text-align: center;
  padding: 5px;
  font-family: 'Lobster', cursive;

}
nav>a{
  background-color: #cbaf87;
  text-align: center;
  padding: 5px;
  margin-right: 20px;

}
a:hover{
  background-color: #f6f7d4;
  text-decoration: none;
}

.cont{
  display: flex;
  background-color: #f6f7d4;

}
.cont2{
  display: flex;
  background-color: #5b5656;
}
.box1{
padding: 10px;
  /* background-color: red; */
display: flex;
flex: 2;
flex-direction: column;
margin: 10px;
}
.box2{
  padding: 10px;
  background-color: #99f3bd ;
  display: flex;
  flex: 3;
  margin: 10px;
}
.box3{
  padding: 10px;
  background-color: #706c61;
  display: flex;
  flex: 0.5;
  align-items: center;
  margin: 10px;
}

.s1{
  display: flex;
  margin: 10px;
  background-color: grey;
  flex-direction: column;
  text-align: center;
}
.s2{
  display: flex;
  margin: 10px;
  background-color: #f6f7d4;
  flex-direction: column;
  text-align: center;

justify-content: center;
}

.chess{
  width: 150px;
}
.aa{
  background-color: #f6f7d4;
  text-align: right;
}

.pages{
    background-color: #cbaf87;
}

.footer{
  background-color: #cbaf87;
  text-align: center;
  padding: 30px 15px;
  font-family: 'Lobster', cursive;


}
