<<<<<<< HEAD
*{box-sizing: border-box;}

body{
	margin: 0;
	padding: 0;
}

#head{
	background-color: cyan;
	padding: 5px 0 25px 10px
}

nav{
	float: right;
}
nav>a{
	background-color: orange;border: 1px solid blue;
	padding: 5px;margin-right: 30px;color: black;


	
}
a:hover{
	background-color: red;
	text-decoration: none;
}

.container{display: flex;background-color: violet;}
.box-1{padding: 10px;flex: 1;display: flex;flex-direction: column;}
.box-2{padding: 10px;flex: 2;background-color: orange;margin: 10px;flex-direction: column;display: flex;}
.box-3{padding: 10px;flex: 1;background-color: lightblue;margin: 10px;flex-direction: column;display: flex;}
.box1 > div{margin: 10px;background-color: blue;}
.flower{
	padding: 20px;
	width: 100px;
	float: left;

}
.s1{
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

.s2{
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

.s3{
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	padding: 10px;
	text-align: center;
	margin: 10px;
}

.footer{
	
	background-color: lightseagreen;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.button-1{
	background-color: orange;border: 1px solid blue;
	padding: 5px;margin-right: 30px;color: black; margin: 30px;float: right;
}
=======
/* *{box-sizing: border-box;} */


body{
  font-family: 'Lobster', cursive;
margin: 0;
padding: 0;
}

.head{
  background-color: #eeeeee;
  text-align: center;
  padding: 5px 15px;
  font-family: 'Lobster', cursive;
  font-size: 150%;
}

.nav{
  background-color: #cbaf87;
  text-align: right;
  padding: 5px;

}
.add{
  background-color: #cbaf87;
  text-align: center;
  padding: 5px;
  font-family: 'Lobster', cursive;

}
nav>a{
  background-color: #cbaf87;
  text-align: center;
  padding: 5px;
  margin-right: 20px;

}
a:hover{
  background-color: #f6f7d4;
  text-decoration: none;
}

.cont{
  display: flex;
  background-color: #f6f7d4;

}
.cont2{
  display: flex;
  background-color: #5b5656;
}
.box1{
padding: 10px;
  /* background-color: red; */
display: flex;
flex: 2;
flex-direction: column;
margin: 10px;
}
.box2{
  padding: 10px;
  background-color: #99f3bd ;
  display: flex;
  flex: 3;
  margin: 10px;
}
.box3{
  padding: 10px;
  background-color: #706c61;
  display: flex;
  flex: 0.5;
  align-items: center;
  margin: 10px;
}

.s1{
  display: flex;
  margin: 10px;
  background-color: grey;
  flex-direction: column;
  text-align: center;
}
.s2{
  display: flex;
  margin: 10px;
  background-color: #f6f7d4;
  flex-direction: column;
  text-align: center;

justify-content: center;
}

.chess{
  width: 150px;
}
.aa{
  background-color: #f6f7d4;
  text-align: right;
}

.pages{
    background-color: #cbaf87;
}

.footer{
  background-color: #cbaf87;
  text-align: center;
  padding: 30px 15px;
  font-family: 'Lobster', cursive;


}
>>>>>>> 0d60d2059a8a83590d1a321a30e1a2b40443fd11
